{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    <h1>This is test page</h1>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
